// Variables
@use "utilidades/listas" as *;
@use "utilidades/colores" as *;
@use "utilidades/fuentes" as *;
@use "utilidades/animaciones" as *;
/*Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-negro-oscuro;
    color: $color-blanco;
    font-family: $fuente-secundaria;
    line-height: 1.6;
}

/*Header*/

header {
    background-color: $color-negro;
    padding: 15px 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 1000;

    h1 {
        color: $color-rojo;
    }

    img {
        width: 1000px;
        height: 100px;
        padding: 2px;
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navbar-toggler {
        border: 1px solid $color-blanco;
    }
    
    .navbar {
        background-color: $color-negro;
        padding: 10px 20px;

        .navbar-toggler {
            border: 1px solid $color-blanco;
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;

                li {
                    margin-left: 15px;

                    a {
                        text-decoration: none;
                        color: $color-blanco;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover {
                            color: $color-rojo;
                        }
                    }
                }
            }
        }
    }
}

/*Main*/

main {
    background-color: $color-negro-oscuro;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-bottom: 100px;
    text-align: center;

    h2 {
        font-weight: 700;
        font-size: 30px;
        color: $color-blanco;
        font-family: $fuente-principal;
        letter-spacing: 2px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    p {
        max-width: 1000px;
        margin: 0 auto 10px auto;
        text-align: center;
        color: $color-blanco;
        font-size: 20px;
        line-height: 1.6;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
        margin: 0;
        margin-bottom: 100px;
    }

    @extend .fade-up;
}

/*Grids index*/

.grid-content {
    width: 100%;
    padding: 30px 5%;
    display :grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px; 

    .grid-text {
        text-align: center;
        grid-column: 1 / -1;
    }

    .grid-cont {
        text-align: center;
        background-color: $color-negro;
        border-radius: 10px;
        justify-self: center;

        img {
            display: block;
            margin: 20px auto 15px auto;
            width: 45px;
            height: 45px;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $color-blanco;  
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            padding: 10px;
        }
    }
}

/*Grids pagina2 (servicios)*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;

    .grid-item {
        background-color: $color-negro;
        color: $color-blanco;
        padding: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px $color-negro;

        h3 {
            font-size: 23px;
            margin-bottom: 10px;
            color: $color-rojo;
        }

        p {
            font-size: 18px;
            color: $color-blanco;
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: 0 0 35px $color-rojo;
        }
    }
}

/*section pagina2 (servicios)*/

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 80px 20px;
    background-color: $color-negro-oscuro;

    section {
        background-color: $color-negro;
        color: $color-gris-claro;
        padding: 40px 35px;
        width: 90%;
        max-width: 750px;
        border-radius: 15px;

        h3 {
            color: $color-rojo;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 15px;
            letter-spacing: 1px;
        }

        ul {
            margin: 10px 0 20px 25px;
            padding: 0;
            color: $color-gris-claro;
            font-size: 15px;
            line-height: 1.6;
        }

        p {
            color: $color-gris-claro;
            font-size: 18px;
            line-height: 1.8;
            text-align: center;
        }

        img {
            display: block;
            max-width: 600px;
            max-width: 100%;
            border-radius: 15px;
            overflow: hidden;
            margin: 0 auto; 
        }
       
        @extend .fade-up;

    }
}

/*Section pagina3 (sobre mi)*/

.img-about {
    img {
        display: block;
        margin: 20px auto 15px auto;
        width: 800px;
        height: 800px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 15px $color-rojo;
    }
}

.section-about {
    list-style: none;
    padding: 0;

    li {
        color: $color-blanco;
        font-family: $fuente-principal;
        font-size: 20px;
        margin-bottom: 25px;
        display: block;
        background-color: $color-negro;
        padding: 10px;
    }
}

/*Section pagina 4 y 5 (asesorias y contacto)*/

.section-advice {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: $color-blanco;
    border-radius: 10px;

    label {
        display: block;
        margin: 5px 0;
        font-weight: 600;
        color: $color-negro;
    }
    
    input,
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid $color-negro;
        border-radius: 5px;
        font-size: 15px;
        background-color: $color-blanco;

        &:focus {
            outline: none;
            border-color: $color-rojo;
        }
    }

    button {
        width: 100%;
        padding: 15px;
        background-color: $color-rojo;
        color: $color-blanco;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

/*Footer*/

footer {
    background-color: $color-negro;
    color: $color-blanco;
    text-align: center;
    font-family: $fuente-principal;
    padding: 15px;

    a {
        color: $color-blanco;
        text-decoration: none;
        margin-left: 10px;

        &:hover {
            color: $color-rojo;
        }
    }
}

/*Imagenes de cambio fisico*/

.cambio {
    width: 100%;
    padding: 30px 5%;
    display :grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px; 

    .grid-transformacion {
        position: relative;
        width: 100%;
        max-width: 380px; 
        height: 600px;     
        margin: 0 auto 40px auto;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 15px $color-blanco;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            animation: fade-rotate 8s infinite; 
        }

    img:first-child {
      animation-delay: 0s;
    }

    img:last-child {
      animation-delay: 4s; 
    }
  }
}

/* Animación para rotar las imágenes */
@keyframes fade-rotate {
  0% { opacity: 0; }
  10% { opacity: 1; }
  45% { opacity: 1; }
  55% { opacity: 0; }
  100% { opacity: 0; }
}

/*------------------RESPONSIVE------------------*/
@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;

    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  }

  main, 
  .section-container,
  .section-advice,
  footer {
    padding: 20px;
    text-align: center;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  .grid-content,
  .grid-container,
  .cambio {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .img-about img {
    width: 100%;
    height: auto;
  }
}