//Animaciones

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

.fade-up {
    opacity: 0;
    animation: fadeup 1s ease forwards;
}


/* Animación fade para rotar las imágenes */
@keyframes fade-rotate {
  0%, 49.999% { opacity: 1; }  /* visible la primera mitad */
  50%, 100% { opacity: 0; }    /* invisible la segunda mitad */
}

.fade-rotate {
  opacity: 0;
  animation: fade-rotate 8s infinite; /* duración total 8s, cada imagen visible 4s */
}